div{width: 200px; height: 200px;
    background-color: red;

}
div:hover{width:400px; height: 400px;
         background-color: blue;

}
P::first-letter{font-family: 'Inknut Antiqua', serif;
                font-size: 25px;

}
