body{box-sizing: border-box; background-color: beige; display: flex; flex-flow:wrap; }
figure{width: 24%; box-shadow: 5px 5px 5px black;
       background-color: brown; padding: 5px;}
img{ width: 100%;
  padding: 0px; margin: 0px;}

