*{box-sizing: border-box;}
h1{ color: red; text-align: center;
  }
  article{width: 90%; margin: 1%;}
#datos{float: right;width: 10%; background-color:blue; min-width:10%; 
       padding: 0px; }
       table{ width: 100%; }
#foto{width: 90%; background-color: yellow; padding: 0px; margin: 0px;}
img{}
#histo{width: 100%;}
#p1{ width: 45%; float:right; margin-left: 5%;}
#p2{width: 55%; }